


html,body, #root {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

:root {
  --bs-primary: #34a3da;
  --bs-primary-rgb: 52, 163, 218;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.Toastify__progress-bar {
  background: #34a3da !important;
  color: #eee;  /* Bootstrap μπλε, μπορείς να βάλεις όποιο hex θες */
}





.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.centered-container {
  display: flex;
  flex-direction: column;   /*Στοίχιση το ένα κάτω από το άλλο*/
  justify-content: center;     /* οριζόντια στο κέντρο */
  align-items: center;      /* κάθετα στο κέντρο */
}

.blueBtn{
  background-color: #34a3da;
}
.login-page {
  background: linear-gradient(135deg, #e0f7fa, #ffffff);
  min-height: 100vh;
}

.animate span {
  opacity: 0;
  display: inline-block;
  animation: fadeIn 0.5s forwards;
  color: #38A0CE;
  font-family: "Playwrite DK Loopet", cursive;
  letter-spacing: 5px;
}

.animate span:nth-child(1) { animation-delay: 0s; }
.animate span:nth-child(2) { animation-delay: 0.1s; }
.animate span:nth-child(3) { animation-delay: 0.2s; }
.animate span:nth-child(4) { animation-delay: 0.3s; }
.animate span:nth-child(5) { animation-delay: 0.4s; }
.animate span:nth-child(6) { animation-delay: 0.5s; }
.animate span:nth-child(7) { animation-delay: 0.6s; }
.animate span:nth-child(8) { animation-delay: 0.6s; }


@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}

.calendar-container {
  width: 600px;
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #34a3da;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.daysList li{
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

p{
  letter-spacing: 1px;
}

h2{
  letter-spacing: 1px;
}

h1{
  letter-spacing: 1px;
}

#prev, #next{
  cursor:pointer;
}


